/* This file is for your main application css. */
$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */
@import "bootstrap"; /* imports node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss */

/* Custom Stuff */
@import "custom";

$background: #3c426a;
$hilite: #9ca2ca;

@mixin colors() {
  background-color: $background;
  color: white;
}

@mixin distribute() { 
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
}
.distribute {
  @include distribute()
}

.glyphicon {
  line-height: 20px;
}

.alert:empty { display: none; }
.alert { 
  z-index: 1000; 
  position: absolute;
  left: 20px;
  top: 20px; 
} 

@keyframes fade {
  from { };
  to { opacity: 0; display: none; }
} 
.fade { 
  animation: fade 4s;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.spin {
  animation: spin 2s infinite linear
}

#top {
  margin: 1em 0;
  padding: 1em;
  @include make-md-column(12);
  @include colors();
  border: 4px solid $hilite;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.section {
  border: 4px solid $background;
  @include colors();
  height: 600px;
  .section-header {
    border-bottom: 4px solid;
    @include distribute();
  } 
  .entries {
    padding-left: 0px;
    margin-top: 20px;
    overflow-y: scroll;
    li {
      vertical-align: middle;
      width: 100%;
      display: inline-flex; 
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      padding: 10px;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

#playlist {
  @include make-md-column(7);
  @include make-md-column-offset(1);
}

#files {
  @include make-md-column(4);
}

#commands {
}

#running-tasks {
  .entries { 
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    li {
      @include colors();
      padding: 10px 40px;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}
