<h1>Log ind</h1>
<form action="/login" method="POST">
  <div class="input-group">
    <input type="password" class="form-control" name="password" id="url-field" placeholder="Indtast koden">
    </input>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Log ind</button>
    </span>
  </div>
</form>

