<form action="/dl" method="POST" enctype=multipart/form-data>
    <span role="group" class="btn-group input-group">
      <input  type="text" 
              class="form-control" 
              name="url" 
              id="url-field" 
              placeholder="Indsæt Youtube-URL eller Skoletube downloadlink - husk http:// først!">
      </input>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" action="submit">
          <span class="glyphicon glyphicon-circle-arrow-down"></span>
        </button>
      </span>
    </span>
</form>
