<div class="section-header">
  <h3>Filer</h3>
    <div class="btn-group" role="group">
      <label class="btn btn-default fileinput-button btn-file">
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" style="display: none" type="file" name="files[]" multiple>
        <span class="glyphicon glyphicon-upload"></span>
      </label>

      <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span> 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/files/compact">Slet ubrugte filer</a></li>
        </ul>
      </div>
    </div>
</div>
<ul class="entries">
<%= for {file,title} <- @files do %>
  <li>
    <span><%= title %> </span>
    <a href=playlist/add/<%= file %> title="Tilføj til playliste" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </li>
<% end %>
</ul>
