<div class="section-header">
  <h3 class="header-and-buttons">Playliste</h3>
  <span id="buttons" class="btn-group">
    <a class="btn btn-default" role="button" href="<%= action_urls(@playstatus) %>">
      <span class="glyphicon <%= action_icons(@playstatus) %>"></span>
    </a>
    <a class="btn btn-default" role="button" href="/toggle-loop">
      <span class="glyphicon glyphicon-repeat" style="<%= loop_icons(@loopstatus) %>"></span>
    </a>
  </span>
</div>
<ul class="entries">
<%= for {i, {_file, title}} <- @list do %>
  <li>
    <span><%= title %></span>
    <a href="playlist/remove/<%= i %>" title="Fjern fra playliste" role="button" class="btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </li>
<% end %>
</ul>
