<ul id="task-list" class="entries">
  <%= for {name, _} <- @downloads do %>
    <li class="distribute">
      <span><%= name %></span>
      <span class="glyphicon glyphicon-repeat spin"></span>
    </li>
  <% end %>
</ul>
