<div class="container">
  <div id="commands">
    <%= render Ui.MediaView, "download.html" %>
  </div>

  <div id="running-tasks">
    <%= render Ui.MediaView, "task-list.html", downloads: @downloads %>
  </div>
</div>

<div class="container">
  <div id="files" class="section">
    <%= render Ui.MediaView, "files.html", files: @files %>
  </div>

  <div id="playlist" class="section">
    <%= render Ui.MediaView, "playlist.html", list: @list, playstatus: @playstatus, loopstatus: @loopstatus %>
  </div>
</div>

